.message-drawer-wrapper {
  position: absolute;
  /* span entire screen height */
  top: 0;
  bottom: 0;
  right: 0;
}

.message-drawer {
  height: 100%;
  background-color: #4C4C4C;
  border-left: 1px solid #2B2B2B;
  box-shadow: -1px 0px 5px 0 rgba(0,0,0,0.5);
  color: #fff;
}

.message-drawer .enyo-border-box {
  height: 100%;
}

.chat-message-wrapper {
  background-color: #fff;
}

.chat-message {
  padding: 10px 5px;
  border-top: 1px solid;
  color: #333;
}

.chat-message:first-child {
  border: none;
}

/* rules for sequential messages from the same sender */
.chat-message.recipient + .chat-message.recipient,
.chat-message.sender + .chat-message.sender {
  padding-top: 0px;
  border: none;
}

.chat-message.recipient + .chat-message.recipient .chat-message-avatar,
.chat-message.sender + .chat-message.sender .chat-message-avatar {
  display: none;
}

.chat-message.recipient .chat-message-avatar {
  float: left;
}

.chat-message.sender .chat-message-avatar {
  float: right;
}

.chat-message-text {
  margin: 0 20px;
}

.message-icon {
  padding: 2px;
  border: 1px solid;
  border-radius: 15px;
  color: #333;
  cursor: pointer;
  font-size: 20px;
}

.message-icon.active {
  background-color: #9c3;
  border: none;
  color: #fff;
  box-shadow: 0 0 10px 0 #9c3;
}

.message-drawer-wrapper .message-icon {
  position: absolute;
  bottom: 10px;
  right: 22px;
  color: #eee;
}
